deploy/n8n/workflows/email-ingest.json
{
  "name": "Todo Email Ingest",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {
          "labelIds": [
            "todo-ingest"
          ]
        },
        "simple": false,
        "options": {}
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000001",
      "name": "Gmail Trigger",
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1,
      "position": [240, 300],
      "credentials": {
        "gmailOAuth2": {
          "id": "REPLACE_WITH_GMAIL_CREDENTIAL_ID",
          "name": "Gmail OAuth2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parse an incoming email into a todo or note.\n//\n// Subject rules:\n//   [work] Buy milk         → context=work, todo titled \"Buy milk\"\n//   note: Meeting summary   → context=inbox, note titled \"Meeting summary\"\n//   [work] note: Stand-up   → context=work, note titled \"Stand-up\"\n//\n// Body rules:\n//   A line containing \"ctx:work\" overrides context (takes precedence over subject prefix).\n\nconst subject = ($input.item.json.subject ?? '').trim();\nconst body    = ($input.item.json.text    ?? '').trim();\n\n// --- context resolution ---\nlet context = $env.TODO_CONTEXT ?? 'inbox';\n\nconst ctxSubjectMatch = subject.match(/^\\[([a-z0-9][a-z0-9_-]*)\\]/i);\nif (ctxSubjectMatch) context = ctxSubjectMatch[1].toLowerCase();\n\nconst ctxBodyMatch = body.match(/\\bctx:([a-z0-9][a-z0-9_-]*)/i);\nif (ctxBodyMatch) context = ctxBodyMatch[1].toLowerCase();\n\n// --- strip [ctx] prefix from subject ---\nconst cleanSubject = subject.replace(/^\\[[^\\]]+\\]\\s*/, '').trim();\n\n// --- todo vs note ---\nconst isNote    = /^note:\\s*/i.test(cleanSubject);\nconst title     = isNote ? cleanSubject.replace(/^note:\\s*/i, '').trim() : cleanSubject;\nconst noteBody  = isNote ? body.replace(/\\bctx:[a-z0-9_-]+/gi, '').trim() : '';\n\nreturn [{\n  json: {\n    context,\n    entityType: isNote ? 'notes' : 'todos',\n    title:      title || '(no subject)',\n    body:       noteBody,\n    messageId:  $input.item.json.id,\n    threadId:   $input.item.json.threadId,\n  }\n}];"
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000002",
      "name": "Parse Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.TODO_API_URL }}/contexts/{{ $json.context }}/{{ $json.entityType }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $env.TODO_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"title\": {{ JSON.stringify($json.title) }}\n  {{ $json.entityType === 'notes' && $json.body ? ', \"body\": ' + JSON.stringify($json.body) : '' }}\n}",
        "options": {}
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000003",
      "name": "Create in API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Parse Email').item.json.messageId }}",
        "labelIds": {
          "labelIds": [
            "INBOX"
          ]
        },
        "options": {}
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000004",
      "name": "Archive Message",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [900, 300],
      "credentials": {
        "gmailOAuth2": {
          "id": "REPLACE_WITH_GMAIL_CREDENTIAL_ID",
          "name": "Gmail OAuth2"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Parse Email').item.json.messageId }}",
        "labelIds": {
          "labelIds": [
            "todo-ingest-failed"
          ]
        },
        "options": {}
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000005",
      "name": "Label as Failed",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [900, 480],
      "credentials": {
        "gmailOAuth2": {
          "id": "REPLACE_WITH_GMAIL_CREDENTIAL_ID",
          "name": "Gmail OAuth2"
        }
      }
    }
  ],
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Parse Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Email": {
      "main": [
        [
          {
            "node": "Create in API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create in API": {
      "main": [
        [
          {
            "node": "Archive Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": ""
  },
  "id": "b2c3d4e5-0002-0002-0002-000000000000",
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "pinData": {},
  "tags": []
}
