deploy/n8n/workflows/snapshot.json
{
  "name": "Todo Snapshot Email",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * 1-5"
            }
          ]
        }
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000001",
      "name": "Weekdays 08:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "url": "={{ $env.TODO_API_URL }}/snapshot",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "context",
              "value": "={{ $env.TODO_CONTEXT }}"
            },
            {
              "name": "format",
              "value": "html"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $env.TODO_API_KEY }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000002",
      "name": "Fetch Snapshot",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "sendTo": "={{ $env.TODO_SNAPSHOT_EMAIL }}",
        "subject": "=Todo snapshot · {{ new Date().toLocaleDateString('en-US', {weekday: 'long', year: 'numeric', month: 'long', day: 'numeric'}) }}",
        "emailType": "html",
        "message": "={{ $json.data }}",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000003",
      "name": "Send Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [680, 300],
      "credentials": {
        "gmailOAuth2": {
          "id": "REPLACE_WITH_GMAIL_CREDENTIAL_ID",
          "name": "Gmail OAuth2"
        }
      }
    }
  ],
  "connections": {
    "Weekdays 08:00": {
      "main": [
        [
          {
            "node": "Fetch Snapshot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Snapshot": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "id": "a1b2c3d4-0001-0001-0001-000000000000",
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "pinData": {},
  "tags": []
}
